body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
 padding: 0;
 /* height:1000px; */
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: white; 
}

.navbar-nav > li {
  padding-left: 50px;
  padding-right: 50px; 
}
  
.navItem {
  color: rgb(0, 0, 0);
}
.App {
  color: white;
  text-align: center;

}
html {
  background-image:url('/public/assets/images/background.PNG');
  background-size: 100%;
  opacity: 0.7;
}

.footer {
  background-color: white;
  border-top:2px solid gray;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 25px;
}

