body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
 padding: 0;
 /* height:1000px; */
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
  background-color: white; 
}

.navbar-nav > li {
  padding-left: 50px;
  padding-right: 50px; 
}
  
.navItem {
  color: rgb(0, 0, 0);
}
.App {
  color: white;
  text-align: center;

}


 .footer {
  background-color: white;
  border-top:2px solid gray;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: black;
  font-size: 25px;
} 


.selectableImg {
  border: solid 1px transparent;
  margin: 10px;
}

.selectableImg.selected {
  border: solid 1px blue;
}

.body_image{
  height:800px;
  width:auto;
 }

 #tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0d47a1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}



.jumbotron-billboard .img {
  margin-bottom: 0px;
  opacity: 0.4;
  color: rgb(0, 0, 0);
  background: #000 url("./assets/images/background.PNG") top center no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
}
.jumbotron h2 {
  margin-top:0; 
  color:black;
}
.jumbotron {
  position:relative;
  padding-top:50px;
  padding-bottom:50px;
}
.jumbotron .container {
  position:relative;
  z-index:0;
}

@media screen and (max-width: 768px) {
  .jumbotron {
    padding-top:20px;
    padding-bottom:20px;
  }
}